html {
    font-family: 'Helvetica Neue';
}

body {
    margin: 0;
}

header {
    background: rgb(175, 225, 175);
    text-align: center;
    height: max-content;
    padding: 1em;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
}

article {
    flex: 1;
    border-width: 1px;
    border-style: solid;
    padding: 1em;
}

article:nth-child(2) {
    flex: 2;
}

#tablero {
    border-style: solid;
    border-color: red;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 10fr;
    height: 75vh;
    gap: 5px;
}

#tablero div {
    border-style: solid;
    margin: 10px;
    padding: 5px;
}

#topRight div {
    display: grid;
    float: right;
    border: 3px solid rgb(3, 0, 0);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ac3304; 
}

#bottomLeft div {
    display: grid;
    float: right;
    border: 3px solid rgb(3, 0, 0);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ac3304; 
}

#bottomRight div{
    display: grid;
    float: right;
    border: 3px solid rgb(3, 0, 0);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ac3304; 
}



#bottomRight div:hover {
    background: rgb(65, 58, 58);
}